body {
  margin: 0;
}

.winter-body {
  background: #88acf2;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

.soil {
  position: absolute;
  background: linear-gradient(81deg, #8c9de5, #adcffb);
  width: 28vw;
  height: 23vw;
  bottom: -18vw;
  border-radius: 0 19vw;
  transform: rotate(-52deg);
  border: 0.5vw solid #fff;
}

.soil:nth-child(2) {
  position: absolute;
  background: linear-gradient(#adcffb, #7b9ce5);
  width: 44vw;
  height: 20vw;
  right: 0;
  bottom: -16vw;
  border-radius: 0 24vw;
  transform: rotate(-28deg);
}

.soil:nth-child(3) {
  position: absolute;
  background: linear-gradient(#7b9ce5, #adcffb);
  width: 62vw;
  height: 9vw;
  right: 28vw;
  bottom: -16vw;
  border-radius: 0 8vw;
  transform: rotate(-28deg);
  z-index: -1;
}

.wall {
  position: absolute;
  bottom: 1vw;
  width: 17vw;
  height: 16vw;
  background: #333;
  z-index: -1;
}

.eaves {
  position: absolute;
  bottom: 15vw;
  width: 0;
  height: 0;
  left: 0;
  border-top: 0vw solid rgba(0,0,0,0);
  border-right: 26vw solid rgba(0,0,0,0);
  border-bottom: 7vw solid #fff;
  border-left: 0vw solid rgba(0,0,0,0);
  border-bottom-right-radius: 94px;
}

.snow, .snowQuike, .snowSlow {
  position: absolute;
  background: #fff;
  border: 6px solid #fff;
  border-radius: 15vw;
  top: -1vw;
  animation: snowMove 10s linear infinite;
}

.snowQuike {
  animation: snowMove 17s linear infinite;
}

.snowSlow {
  animation: snowMove 18s linear infinite;
}

@keyframes snowMove {
	to {
    transform: translateY(100vh);
    opacity: 0.3;
	}
}

.window {
  position: absolute;
  bottom: 8vw;
  width: 5vw;
  height: 5vw;
  background: #fff;
  z-index: -1;
}

.window::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
  z-index: 9999;
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0) 0%, 59%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 80%), -webkit-linear-gradient(top left, rgba(255, 255, 255, 0) 0%, 30%, rgba(255, 255, 255, 0.3) 35%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 45%);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, 59%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 80%), linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, 30%, rgba(255, 255, 255, 0.3) 35%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 45%);
}

.pole, .pole-second {
  position: absolute;
  bottom: 10.5vw;
  width: 5vw;
  height: 0.3vw;
  background: black;
}

.pole-second {
  transform: rotate(90deg);
  bottom: 10.35vw;
}

.chimney {
  position: absolute;
  bottom: 19vw;
  width: 3vw;
  height: 2vw;
  left: 6vw;
  background: #fff;
}

.cloud-one, .cloud-two, .cloud-three {
  background: #fff;
  width: 5vw;
  height: 2vw;
  border-radius: 50px;
  position: absolute;
  top: 3vw;
  animation: FlyMove 35s linear infinite;
}

.cloud-three {
  animation: FlyMove 38s linear infinite;
}

.cloud-one::before, .cloud-two:before, .cloud-three:before {
  background: #fff;
  content: "";
  width: 3vw;
  height: 1.3vw;
  position: absolute;
  top: -1vw;
  left: 0.7vw;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.cloud-two {
  top: 5vw;
  left: 10vw;
  animation: FlyMove 37s linear infinite;
}

.cloud-two, .cloud-two::before, .cloud-one, .cloud-one::before {
  background: #9fc5fc;
}

.cloud-three {
  top: 9vw;
  left: 5vw;
}

@keyframes FlyMove {
  from {
    transform: translateX(-15vw);
	}
	to {
    transform: translateX(100vw);
	}
}

.snow-man .body {
  position: absolute;
  bottom: 0;
  border: 1px solid #fff;
  width: 10vw;
  height: 10.5vw;
  left: 34vw;
  background: #fff;
  border-radius: 5vw;
}

.snow-man .head {
  position: absolute;
  bottom: 10vw;
  border: 1px solid #fff;
  width: 7vw;
  height: 7vw;
  left: 35.5vw;
  background: #fff;
  border-radius: 5vw;
}

.button-one, .button-two {
  position: absolute;
  bottom: 7vw;
  left: 38.7vw;
  border: 0.4vw solid #333;
  border-radius: 5vw;
}

.button-two {
  bottom: 4.6vw;
  left: 38.6vw;
  border: 0.5vw solid #333;
}

.eye-left, .eye-right {
  position: absolute;
  bottom: 14.3vw;
  left: 37.3vw;
  width: 0.6vw;
  height: 0.6vw;
  background: #333;
  border-radius: 2vw;
  transform: rotate(58deg);
}

.eye-right {
  left: 40vw;
  transform: rotate(-64deg);
}

.nose {
  position: absolute;
  bottom: 12.6vw;
  left: 37.7vw;
  border: 0.5vw solid;
  border-color: transparent orange transparent transparent;
}

.smile {
  position: absolute;
  bottom: 11.5vw;
  left: 37.3vw;
  border-bottom: 1px solid #333;
  width: 3vw;
  height: 3vw;
  border-radius: 1.7vw;
}

.hat {
  position: absolute;
  bottom: 16vw;
  left: 35vw;
  width: 8vw;
  height: 0.5vw;
  background: #333;
  border-radius: 118vw;
  z-index: 1;
}

.hat-top {
  position: absolute;
  bottom: 16vw;
  left: 36.5vw;
  width: 5vw;
  height: 3vw;
  background: #333;
  z-index: 1;
}

.hat-top::after {
  content: '';
  width: 5vw;
  height: 0.5vw;
  background: lightpink;
  position: absolute;
  top: 1.5vw;
}

.red-face-left, .red-face-right {
  position: absolute;
  left: 36vw;
  bottom: 13.2vw;
  width: 1vw;
  height: 1vw;
  background: pink;
  filter: blur(10px);
}

.red-face-right {
  left: 41vw;
}

.scarf {
  position: absolute;
  bottom: 9.5vw;
  left: 35.5vw;
  width: 7vw;
  height: 1.5vw;
  background: lightpink;
  border-radius: 4px;
}

.scarf::after {
  content: '';
  position: absolute;
  left: 3.5vw;
  width: 2vw;
  height: 3vw;
  bottom: -1.2vw;
  background: lightpink;
  border-radius: 4px;
}
